[Unit]
Description=resonite_webpage_to_pdf

[Service]
# Modify as needed. Use an absolute path, not a relative path.
ExecStart=/bin/bash /home/ubuntu/repos/resonite-website-to-pdf/run.sh

# Modify as needed. Use an absolute path, not a relative path.
WorkingDirectory=/home/ubuntu/repos/resonite-website-to-pdf/

# Modify as needed
User=ubuntu

Environment=PYTHONUNBUFFERED=1
